[submodule "modules/email"]
	path = modules/email
	url = http://git.drupal.org/project/email
[submodule "modules/rules"]
	path = modules/rules
	url = http://git.drupal.org/project/rules.git
[submodule "modules/date"]
	path = modules/date
	url = http://git.drupal.org/project/date.git
[submodule "modules/link"]
	path = modules/link
	url = http://git.drupal.org/project/link
[submodule "modules/flag"]
	path = modules/flag
	url = http://git.drupal.org/project/flag
[submodule "modules/masquerade"]
	path = modules/masquerade
	url = http://git.drupal.org/project/masquerade.git
